<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <title>Weather Home</title>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Welcome to Weather App!</p>
            <form method="GET">
                <input type="text" name="address" id="address" placeholder="Location" />
                <button>Search</button>
            </form>

            <p id="message1"></p>
            <p id="message2"></p>
        </div>
        {{>footer}}

        <script src="js/app.js"></script>
    </body>
</html>