<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css" />
        <script src="js/app.js"></script>
    </head>
    <title>Weather Home</title>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Test</p>
        </div>
        {{>footer}}
    </body>
</html>